
  <mat-card class="container-company">
      
      <mat-card-header>
          <mat-card-title><h2 class="titulo-company">SOFKA TECHNOLOGIES</h2></mat-card-title>
      </mat-card-header>

      <div class="separador"></div>
              <mat-card-content class="card-company"> 
                  <p>Servicios y tecnlogia de la informacion</p>
                  <p>Cuidamos nuestro entorno, multiplicando experiencias exitosas</p>
                  <p>Mendoza, Argentina</p>
              </mat-card-content>
      
      <div class="separador"></div>

      <mat-card-header>
          <h2 class="titulo-company">RESUMEN</h2>
      </mat-card-header>

      <div class="separador"></div>

      <mat-card-content class="card-company"> 
       <p>Luego de un proceso largo y arduo de pensar e identificar como compañia que nos mueve y nos orienta, construimos nuestro proposito con un resultado completamente enfocado en lo que hacemos y profesamos. "Cuidamos nuestro entorno, multiplicando experiencias exitosas" Cuidamos nuestros clientes, sofkinaos y comunidad Multiplicando nuestra excelencia tecnica, creando comunidades practicas y gestionando nuestro conocimiento.</p>
      </mat-card-content>

      <mat-card-header>
          <h2 class="titulo-company">DATOS</h2>
      </mat-card-header>
      <div class="separador"></div>

      <mat-card-content class="card-company">
      <p><b>Telefono:</b> 2668907</p>
      <p><b>Sitio Web:</b> Http://www.Sofka.com</p>
      <p><b>Mail:</b> Sofka@gmail.com</p>
      <p><b>Sector:</b> Servicios y Tecnologias de la informacion</p>
      <p><b>Tamaño de la Empresa</b> 501-1000 empleados</p>
      <p><b>Fundacion:</b> 2013</p>
      <p><b>Especialidades:</b>Arquitecturas Reactivas, DevOps, Automatizacion, Agilidad, SAP, Integracion, Innovacion, Testing, Agile Testing, Programacion Reactiva, Programacion Limpia, Arquitectura Limpia, Pruebas Performance, RPA E Inteligencia artificial</p>
  </mat-card-content>
  </mat-card>


<!--CONTENIDO ANTIGUO-->
<!--<div class="container ">
    <div class="row">
      <div class="col-10 ">
        <h3 class="lead text-uppercase title fw-bold">Sofka Technologies</h3>
        <hr width="100%" color="black">
        <div class="card border-light mb-3 " style="max-width: 53rem ">
          <div class="card-header  text-dark py-4 px-5">
            <p>Servicios y tecnologías de la información</p>
            <p>Cuidamos nuestro entorno, multiplicando experiencias exitosas.</p>
            <p>Mendoza, Argentina</p>
          </div>
        </div>
      </div>
      <div class="col-10 ">
        <h1 class="lead text-uppercase title fw-bold">Resumen</h1>
        <hr width="100%" color="black">
        <div class="card border-light mb-3 " style="max-width: 53rem">
          <div class=" card-body  text-dark py-4 px-5">
            Luego de un proceso largo y arduo de pensar e identificar como compañía que nos mueve y
            nos orienta,
            construimos nuestro propósito con un resultado completamente enfocado en lo que hacemos
            y profesamos.
            " Cuidamos nuestro entorno, multiplicando experiencias exitosas" Cuidamos nuestros clientes,
            sofkianos y comunidad Multiplicando nuestra excelencia técnica, creando comunidades prácticas y
            gestionando nuestro conocimiento.
          </div>
        </div>
      </div>
      <div class="col-10 ">
        <h1 class="lead text-uppercase title fw-bold">Datos</h1>
        <hr width="100%" color="black">
        <div class="card border-light mb-3 " style="max-width: 53rem">
          <div class=" card-body  text-dark py-4 px-5">
            <ul class="list-unstyled ml-5 py-2 text-capitalize">
              <li class="list-item"><strong>Telefono:</strong>
                <i class="fas fa-mobile-alt mx-4"></i>
                2668907
              </li>
              <li class="list-item"><strong>Sitio web:</strong>
                http://www.sofka.com.com
              </li>
  
              <li class="list-item"> <strong>mail: </strong>
                sofka@gmail.com
              </li>
  
              <li class="list-item"> <strong>Sector: </strong>
                Servicios y tecnologías de la información
              </li>
  
              <li class="list-item"> <strong>Tamaño de la empresa:</strong>
                501-1000 empleados
              </li>
              <li class="list-item"> <strong>Fundación: </strong>
                2013
              </li>
              <li class="list-item"> <strong>Especialidades:</strong>
                Arquitecturas Reactivas , DevOps , Automatización , Agilidad, SAP,
                Integración, Innovación, Testing, Agile
                testing, Programación Reactiva , Programación Limpia , Arquitectura Limpia, Pruebas
                Performance, RPA y
                Inteligencia Artificial
              </li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>
  </div>
-->