<div class="container">
  <div class="row ">
    <div class="col-md-2">
      <img class="img-fluid" src="../../../../../assets/img/perfil.jpg" alt="Foto de perfil">
    </div>
    <div class="col-md-10">
      <p class="title1">Maria Alejandra Polo</p>
      <p><strong>Mendoza, Argentina</strong></p>
      <p> <i class="bi bi-envelope-at"></i>Email: maria@gmail.com</p>
      <p><i class="bi bi-telephone"></i>Teléfono: +542615896589</p>
      <hr>
    </div>
  </div>
    <h4 class="title mt-5">Profesión: Full Stack Developer</h4>
    <p> Dominio de diversos lenguajes Front-end como HTML5, CSS y JavaScript. Dominio de lenguajes como: PHP, NET, Nodejs. Conocimiento en HTTP, REST, Sockets. Experiencia en bases de datos, como MongoDB, SQL. Experiencia con redes, cortafuegos, y más. Conocimientos en arquitectura de aplicaciones. Organización, trabajo en equipo, accesibilidad.</p>
    <h4 class="title mt-5">Mis experiencias profesionales</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore illo architecto corrupti minus sit saepe harum possimus vitae distinctio temporibus quisquam ratione, expedita tenetur corporis dignissimos at esse odit eveniet?</p>
    <h4 class="title mt-5">Idioma</h4>
    <p>Ingles, portugues</p>
    <h4 class="title mt-5">Conocimientos informáticos</h4>
    <p>HTML5, CSS y JavaScrip, PHP, NET, Nodejs, conocimiento en HTTP, REST, Sockets</p>
</div>