<div class="container">
  <div class="logo">
    <img src="../../../../../assets/img/logo-header.png" alt="Logo" width="200">
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Recuperar contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="recoverForm" (ngSubmit)="recover()">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input formControlName="email" class="my-custom-input" matInput placeholder="Ingrese su email">
          <mat-error *ngIf="recoverForm.get('email')?.invalid && recoverForm.get('email')?.touched">
            El email es requerido
          </mat-error>
        </mat-form-field>
        <div class="button-container">
          <button class="btn-primary" mat-raised-button type="submit" routerLink="/auth/login ">Volver</button>
          <button class="btn-primary" mat-raised-button type="submit">Enviar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>